In [1]:
'''from google.colab import drive
drive.mount('/content/drive')'''

"from google.colab import drive\ndrive.mount('/content/drive')"

In [2]:
#!pip install catboost

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor, ExtraTreesRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from scipy.stats import pearsonr

from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [4]:
#myfolder = "./"
myfolder = "../data/CMaps/"

# **Columns' names**

In [5]:
#Columns' names
'''
1)  unit number
2)	time, in cycles
3)	operational setting 1
4)	operational setting 2
5)	operational setting 3
6)	sensor measurement  1
7)	sensor measurement  2
...
26)	sensor measurement  21
'''
unitNames = ['UnitNumber']
timeCycles = ["TimeInCycles"]
operSets = ["OperSet"+str(i) for i in range(1,4)] # 1,2 et 3
sensorMes = ["SensorMes"+str(j) for j in range(1, 22)] # de 1 Ã  21
columnsNames = unitNames + timeCycles + operSets +sensorMes

# **Datasets loading**

In [6]:
def data_loading(x):
  train_path = myfolder + "train_"+ x +".txt"
  test_path = myfolder + "test_"+ x +".txt"
  rul_path = myfolder + "RUL_"+ x +".txt"
  train = pd.read_csv(train_path, delim_whitespace=True, names=columnsNames)
  test = pd.read_csv(test_path, delim_whitespace=True, names=columnsNames)
  rul = pd.read_csv(rul_path, delim_whitespace=True, names=["RUL_FD"])
  return train, test, rul

train_fd001, test_fd001, rul_fd001 = data_loading("FD001")
train_fd002, test_fd002, rul_fd002 = data_loading("FD002")
train_fd003, test_fd003, rul_fd003 = data_loading("FD003")
train_fd004, test_fd004, rul_fd004 = data_loading("FD004")

In [7]:
# Forcer l'affichage de toutes les colonnes
pd.set_option('display.max_columns', None)

train_fd004.head(3)

,UnitNumber,TimeInCycles,OperSet1,OperSet2,OperSet3,SensorMes1,SensorMes2,SensorMes3,SensorMes4,SensorMes5,SensorMes6,SensorMes7,SensorMes8,SensorMes9,SensorMes10,SensorMes11,SensorMes12,SensorMes13,SensorMes14,SensorMes15,SensorMes16,SensorMes17,SensorMes18,SensorMes19,SensorMes20,SensorMes21
0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,5.70,137.36,2211.86,8311.32,1.01,41.69,129.78,2387.99,8074.83,9.3335,0.02,330,2212,100.0,10.62,6.3670
1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,13.61,332.10,2323.66,8713.60,1.07,43.94,312.59,2387.73,8046.13,9.1913,0.02,361,2324,100.0,24.37,14.6552
2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,1117.05,3.91,5.69,138.18,2211.92,8306.69,1.01,41.66,129.62,2387.97,8066.62,9.4007,0.02,329,2212,100.0,10.48,6.4213

# **RUL column generation for train and test set**

In [8]:
def rul_train_generation(x):
  rul = pd.DataFrame(x.groupby('UnitNumber')['TimeInCycles'].max()).reset_index()
  rul.columns = ['UnitNumber', 'max']
  x = x.merge(rul, on=['UnitNumber'], how='left')
  x['RUL'] = x['max'] - x['TimeInCycles']
  x.drop('max', axis=1, inplace=True)
  return x

train_fd001 = rul_train_generation(train_fd001)
train_fd002 = rul_train_generation(train_fd002)
train_fd003 = rul_train_generation(train_fd003)
train_fd004 = rul_train_generation(train_fd004)

In [9]:
train_fd004.head(3)

,UnitNumber,TimeInCycles,OperSet1,OperSet2,OperSet3,SensorMes1,SensorMes2,SensorMes3,SensorMes4,SensorMes5,SensorMes6,SensorMes7,SensorMes8,SensorMes9,SensorMes10,SensorMes11,SensorMes12,SensorMes13,SensorMes14,SensorMes15,SensorMes16,SensorMes17,SensorMes18,SensorMes19,SensorMes20,SensorMes21,RUL
0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,5.70,137.36,2211.86,8311.32,1.01,41.69,129.78,2387.99,8074.83,9.3335,0.02,330,2212,100.0,10.62,6.3670,320
1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,13.61,332.10,2323.66,8713.60,1.07,43.94,312.59,2387.73,8046.13,9.1913,0.02,361,2324,100.0,24.37,14.6552,319
2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,1117.05,3.91,5.69,138.18,2211.92,8306.69,1.01,41.66,129.62,2387.97,8066.62,9.4007,0.02,329,2212,100.0,10.48,6.4213,318

In [10]:
def rul_test_generation(x, rul):

  rul["UnitNumber"] = rul.index + 1 # +1 pour que UnitNumber demarre de 1 au lieu de 0, car il s'agit du numero des moteur

  x = x.merge(rul, on=['UnitNumber'], how='left')

  max_cycle = pd.DataFrame(x.groupby('UnitNumber')['TimeInCycles'].max()).reset_index()
  max_cycle.columns = ['UnitNumber', 'max']
  x = x.merge(max_cycle, on=['UnitNumber'], how='left')
  x['RUL'] = x['RUL_FD'] + x['max'] - x['TimeInCycles']
  x.drop(['max', 'RUL_FD'], axis=1, inplace=True)

  return x

test_fd001 = rul_test_generation(test_fd001, rul_fd001)
test_fd002 = rul_test_generation(test_fd002, rul_fd002)
test_fd003 = rul_test_generation(test_fd003, rul_fd003)
test_fd004 = rul_test_generation(test_fd004, rul_fd004)

In [11]:
test_fd004.head(3)

,UnitNumber,TimeInCycles,OperSet1,OperSet2,OperSet3,SensorMes1,SensorMes2,SensorMes3,SensorMes4,SensorMes5,SensorMes6,SensorMes7,SensorMes8,SensorMes9,SensorMes10,SensorMes11,SensorMes12,SensorMes13,SensorMes14,SensorMes15,SensorMes16,SensorMes17,SensorMes18,SensorMes19,SensorMes20,SensorMes21,RUL
0,1,1,20.0072,0.700,100.0,491.19,606.67,1481.04,1227.81,9.35,13.60,332.52,2323.67,8704.98,1.07,43.83,313.03,2387.78,8048.98,9.2229,0.02,362,2324,100.00,24.31,14.7007,251
1,1,2,24.9984,0.620,60.0,462.54,536.22,1256.17,1031.48,7.05,9.00,174.46,1915.21,7999.94,0.93,36.11,163.61,2028.09,7863.46,10.8632,0.02,306,1915,84.93,14.36,8.5748,250
2,1,3,42.0000,0.842,100.0,445.00,549.23,1340.13,1105.88,3.91,5.69,137.34,2211.93,8305.38,1.01,41.52,129.98,2387.95,8071.13,9.3960,0.02,328,2212,100.00,10.39,6.4365,249

# **RANDOM SAMPLE SELECTION**

In [12]:
'''element_counts = test_fd002[test_fd002['UnitNumber']==1]
len(element_counts)'''

"element_counts = test_fd002[test_fd002['UnitNumber']==1]\nlen(element_counts)"

In [13]:
import random

def selection_aleatoire(df, sample_size, rand_state):
    unique_values = df["UnitNumber"].unique()
    selected_rows = []
    for value in unique_values:
        rows = df[df["UnitNumber"] == value]
        if len(rows) < sample_size : # si la taille de l'echantillon donnÃ©e est superieur au nombre total de ligne pour un moteur, reinitialiser la valeur
            sample_size = len(rows)
        random_sample = rows.sample(n=sample_size, random_state = rand_state)  # SÃ©lectionne 50 lignes alÃ©atoires
        selected_rows.append(random_sample)
    result = pd.concat(selected_rows)
    return result

# **Data normalization**

In [14]:
def normalised_df(train, test):

  from sklearn.preprocessing import MinMaxScaler

  # Instancier l'objet MinMaxScaler pour normaliser les donnÃ©es
  scaler = MinMaxScaler()

  # Normaliser train
  train_scaled = scaler.fit_transform(train)
  train_df = pd.DataFrame(train_scaled)

  # Normaliser test
  test_scaled = scaler.fit_transform(test)
  test_df = pd.DataFrame(test_scaled)


  train_df.columns = train.columns
  test_df.columns = test.columns
    
  return train_df, test_df

# **Data splitting**

In [15]:
def data_split(train, test):

  # data split
  X_train = train.drop('RUL', axis=1)
  Y_train = train['RUL']
  X_test = test.drop('RUL', axis=1)
  Y_test = test['RUL']
    
  return X_train, Y_train, X_test, Y_test

# **Columns to drop**

In [16]:
def drop_columns(train, test, wich):
    if wich == 1:
        operSets_to_drop = ["OperSet"+str(i) for i in [1, 2]] # 1 et 2
        sensorMes_to_drop = ["SensorMes"+str(j) for j in [3, 6, 8, 9, 13, 14]]
        cols_to_drop = operSets_to_drop + sensorMes_to_drop
    elif wich == 2:
        operSets_to_drop = ["OperSet"+str(i) for i in range(1,4)] # 1,2 et 3
        sensorMes_to_drop = ["SensorMes"+str(j) for j in [1, 5, 10, 18, 19]]
        cols_to_drop = operSets_to_drop + sensorMes_to_drop
    elif wich == 3:
        operSets_to_drop = ["OperSet"+str(i) for i in [1, 2]] # 1 et 2
        sensorMes_to_drop = ["SensorMes"+str(j) for j in [6, 7, 10, 12, 15, 20, 21]]
        cols_to_drop = operSets_to_drop + sensorMes_to_drop
    elif wich == 4:
        operSets_to_drop = ["OperSet"+str(i) for i in range(1,4)] # 1,2 et 3
        sensorMes_to_drop = ["SensorMes"+str(j) for j in [1, 5, 6, 7, 12, 15, 18, 19, 20, 21]]
        cols_to_drop = operSets_to_drop + sensorMes_to_drop
        
    # drop columns 
    drop_cols=True
    if(drop_cols == True):
      train = train.drop(cols_to_drop, axis=1)
      test = test.drop(cols_to_drop, axis=1)
    return train, test

# **The GRU model**

In [17]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import GRU, Dense, Dropout, Activation
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import mean_absolute_error, mean_squared_error
import matplotlib.pyplot as plt

def my_gru(train_fd, test_fd):

    # Normaliser les donnÃ©es
    scaler = MinMaxScaler()

    train = scaler.fit_transform(train_fd)
    test = scaler.transform(test_fd)

    # PrÃ©parer les donnÃ©es pour le modÃ¨le GRU
    train_X = train[:,:-1]
    train_y = train[:,-1]

    test_X = test[:,:-1]
    test_y = test[:,-1]

    train_X = train_X.reshape((train_X.shape[0], 1, train_X.shape[1]))
    test_X = test_X.reshape((test_X.shape[0], 1, test_X.shape[1]))

    # CrÃ©er le modÃ¨le GRU
    model = Sequential()
    model.add(GRU(units=100, return_sequences=True, input_shape=(train_X.shape[1], train_X.shape[2])))
    model.add(Dropout(0.2))
    model.add(GRU(units=100, return_sequences=False))
    model.add(Dropout(0.2))
    model.add(Dense(units=1))
    model.add(Activation("relu"))

    # Compiler le modÃ¨le avec une optimisation
    model.compile(loss='mae', optimizer=Adam(), metrics=['mse'])

    # EntraÃ®ner le modÃ¨le
    history = model.fit(train_X, train_y, epochs=100, batch_size=32, validation_split=0.1, verbose=1,
          callbacks=[EarlyStopping(monitor='val_loss', min_delta=0, patience=10, verbose=0, mode='auto')])

    # Afficher l'erreur d'entraÃ®nement et de validation sur une courbe
    plt.plot(history.history['loss'], label='Train')
    plt.plot(history.history['val_loss'], label='Test')
    plt.title('Model loss')
    plt.ylabel('Loss')
    plt.xlabel('Epoch')
    plt.legend()
    plt.show()
    
    # Calculer et afficher RMSE
    rmse_train = np.sqrt(history.history['mse'])
    rmse_test = np.sqrt(history.history['val_mse'])
    plt.plot(rmse_train, label='Train RMSE')
    plt.plot(rmse_test, label='Test RMSE')
    plt.title('Root Mean Squared Error')
    plt.ylabel('RMSE')
    plt.xlabel('# Epoch')
    plt.legend(loc='upper left')
    plt.show()

    scores = model.evaluate(train_X, train_y, verbose=1, batch_size=200)
    print('Train RMSE: {}'.format(np.sqrt(scores[1])))
    
    scores_test = model.evaluate(test_X, test_y, verbose=200)
    print('Test RMSE: {}'.format(np.sqrt(scores_test[1])))
    
    y_pred_test = model.predict(test_X, verbose=200)
    plt.figure(figsize=(10,5))
    plt.plot(y_pred_test, color='red', label='Prediction')
    plt.plot(test_y, color='blue', label='Ground Truth')
    plt.ylabel("RUL")
    plt.xlabel("Unit Number")

In [ ]:
my_gru(train_fd001, test_fd001)

Epoch 1/100
581/581 [==============================] - 11s 8ms/step - loss: 0.0843 - mse: 0.0138 - val_loss: 0.1332 - val_mse: 0.0275
Epoch 2/100
581/581 [==============================] - 3s 6ms/step - loss: 0.0757 - mse: 0.0110 - val_loss: 0.1256 - val_mse: 0.0253
Epoch 3/100
581/581 [==============================] - 4s 6ms/step - loss: 0.0711 - mse: 0.0102 - val_loss: 0.1202 - val_mse: 0.0242
Epoch 4/100
581/581 [==============================] - 4s 7ms/step - loss: 0.0694 - mse: 0.0100 - val_loss: 0.1183 - val_mse: 0.0253
Epoch 5/100
581/581 [==============================] - 4s 7ms/step - loss: 0.0683 - mse: 0.0098 - val_loss: 0.1180 - val_mse: 0.0222
Epoch 6/100
581/581 [==============================] - 3s 6ms/step - loss: 0.0679 - mse: 0.0097 - val_loss: 0.1147 - val_mse: 0.0213
Epoch 7/100
581/581 [==============================] - 3s 6ms/step - loss: 0.0671 - mse: 0.0096 - val_loss: 0.1137 - val_mse: 0.0238
Epoch 8/100
581/581 [==============================] - 4s 7ms/step - loss: 0.0669 - mse: 0.0095 - val_loss: 0.1178 - val_mse: 0.0244
Epoch 9/100
581/581 [==============================] - 3s 6ms/step - loss: 0.0663 - mse: 0.0094 - val_loss: 0.1150 - val_mse: 0.0241
Epoch 10/100
581/581 [==============================] - 3s 6ms/step - loss: 0.0660 - mse: 0.0093 - val_loss: 0.1109 - val_mse: 0.0208
Epoch 11/100
581/581 [==============================] - 3s 5ms/step - loss: 0.0662 - mse: 0.0094 - val_loss: 0.1133 - val_mse: 0.0231
Epoch 12/100
316/581 [===============>..............] - ETA: 1s - loss: 0.0656 - mse: 0.0094

In [ ]:
my_gru(train_fd002, test_fd002)

In [ ]:
my_gru(train_fd003, test_fd003)

In [ ]:
my_gru(train_fd004, test_fd004)